body{
    background-image: url('pattern342.gif');
}

#floor{
    background-image: url('floor.png');
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

}

#cat {
    z-index: 1;
    height: 400px;
    position: absolute;
    bottom: 100px;
    left: 50%;
}

#butterfly{
    z-index: 2;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10%;
}

#door{
    z-index: -1;
    height: 400px;
    position: absolute;
    bottom: 170px;
    left: 30px;
}

#chandelier{
    z-index: 4;
    height: 250px;
    position: absolute;
    top: -20px;
    left: 30%;

    /* fuzzy angelic glowing glow */
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 70%);
}   

#fairy-lights{
    z-index: 5;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -5;
}

#blackCat{
    z-index: 6;
    height: 200px;
    position: absolute;
    bottom: 60px;
    left: 60px;
}

#grey{
    z-index: 8;
    height: 200px;
    position: absolute;
    bottom: 100px;
    left: 20%;
}

#orange{
    z-index: 7;
    height: 200px;
    position: absolute;
    bottom: 100px;
    left: 80%;
}

#bed{
    z-index: 0;
    height: 200px;
    position: absolute;
    bottom: 100px;
    left: 300px;
}

pre {
    font-size: 20px;
}

#leopard {
    z-index: 3;
    height: 400px;
    position: absolute;
    top: 30%;
    left: 70%;
}

#logo {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 100px;
}
